/* Página principal */

.color-green{
    color: green;
    font-family:'Kaushan Script','-apple-system,BlinkMacSystemFont','Segoe UI'
    ,'Roboto',
    'Helvetica Neue',
    Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol',
    'Noto Color Emoji';
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

/* Botoes */

.color-button{
background-color: green!important;
}

/* Servicos */
.color-service-botton{
    color: black !important;
}

/* Sobre nos */

.color-botton{
      background-color: #008000 !important;
  }
